
body{
    font-family: "inter", sans-serif;
    background-color: #FFFFFF;
}

// header
.navbar-nav .nav-link{
    color:#6c757d;
}
.navbar-nav .nav-link.active{
    color:#0d6efd;
}
.btn{
    min-width:140px;
}
.logo{
    height: 2rem;
    width: 2rem;
}


// 3rd section
.swiper-slide .card{
min-height:280px;
}
.swiper-pagination-bullet-active{
background:#0d6efd;
}
.card-bg-color{
    background:#F7F7F7;
}





.position-relative img{
    height:500px;
    object-fit:cover;
}

@media(max-width:768px){

.position-relative img{
    height:350px;
}

}


